.banner_box.campus_coordinator {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/crowded-street_shutterstock_1053948191_large.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.red {
    color: #FB3B3E;
}

.started_box_body {
    display: block;
    width: 337px;
    font-family: Lovelo-Black;
    font-size: 24px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color: white;
}
.started_box_body.link_no_decoration {
    color: white;
}

.section_header_blue {
    padding: 50px 0;
    text-align: center;
    width: 100%;
}
.section_info_white {
    background-color: white;
    color: black;
}
.section_info_white .started_box {
    color: white;
}
.section_info_two_wide_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_info_two_wide_container .section_info_text {
    padding: 50px 5%;
    text-align: center;
    width: 50%;
}
.section_info_two_wide_container .section_info_image {
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.section_info_white .content_container {
    padding: 50px 0;
}
.section_info_image img {
    display: block; /* Workaround to remove 2px whitespace under image */
}
.section_info_icon_box_container {
    display: flex;
    justify-content: space-around;
    padding: 50px 15%;
    text-align: center;
}
.icon_box {
    padding: 0 20px;
}
.icon_box img {
    width: 100px;
    height: 100px;
}
.button_container {
    margin: 20px;
}
.section_full_image {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_full_image img {
    width: 100%;
}
.section_info_what_you_get_container {
    padding: 20px 20%;
}
.what_you_get_item_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.what_you_get_item_container.image_left {
    flex-direction: row;
}
.what_you_get_item_container.image_left .what_you_get_item_text {
    padding-left: 30px;
}
.what_you_get_item_container.image_right {
    flex-direction: row-reverse;
}
.what_you_get_item_container.image_right .what_you_get_item_text {
    padding-right: 30px;
}
.what_you_get_item_text {
    margin: 0 20px;
}
.what_you_get_item_text h3 {
    text-decoration: uppercase;
}
.section_info_blue {
    text-align: center;
    padding: 50px 20%;
}

/* Breakpoint for mobile */
@media only screen and (max-width: 600px) {
    .banner_box.campus_coordinator {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/crowded-street_shutterstock_1053948191_small.jpg');
    }

    .started_box_body {
        width: 90%;
        font-family: Lovelo-Black;
        font-size: 24px;
        text-align: center;
    }

    .section_info_two_wide_container .section_info_text {
        padding: 50px 0;
        width: 100%;
    }
    .section_info_two_wide_container .section_info_image {
        display: none;
    }
    .section_info_icon_box_container {
        flex-direction: column;
        padding: 0;
    }

    .icon_box {
        padding-bottom: 20px;
    }

    .section_info_what_you_get_container {
        padding: 10px;
    }
    .what_you_get_item_container {
        padding: 0;
    }
    .what_you_get_item_container.image_left, .what_you_get_item_container.image_right {
        flex-direction: column;
        padding: 0;
    }
    .what_you_get_item_container.image_left .what_you_get_item_text {
        padding-left: 0px;
    }
    .what_you_get_item_container.image_right .what_you_get_item_text {
        padding-right: 0px;
    }
    .what_you_get_item_text {
        padding: 20px 0;
        text-align: center;
    }

    .section_info_blue {
        padding: 20px;
    }
}