.footer {
  padding: 20px 0;
  text-align: center;
}
.footer p a {
  color: #ffffff;
}
.footer_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}
.footer_box a {
  color: #ffffff;
  padding: 0 20px;
}
.cr {
  margin-left:auto;
  margin-right:auto;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 600px) {
    .footer {
      padding: 10px 0;
    }
    .footer_box {
      flex-direction: column;
    }
    .footer_box a {
      padding: 10px 20px;
    }
  }