.menu_box {
    display: none;
    padding: 5px 0;
    text-align: center;
}
.links_box {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-around;
}
.links_box .vr_section_subhead {
    font-size: 18px;
}

/* Breakpoint for mobile */
@media only screen and (max-width: 600px) {
    .menu_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1;
    }
    .menu_box button {
        padding: 10px 0;
    }
    .menu_overlay {
        display: none;
    }
    .menu_overlay.active {
        height: auto;
        line-height: 2;
        display: block;
    }
    .menu_overlay ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .links_box {
        display: none;
    }
}